#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}


#navBarLat{

    height: 100vh;

  }

  #menuN{

    padding-top: 10em;

  }


#boton-s{
    margin-right: 120vw;
}

#T{
    padding-top: 5vh;
}

#Title-denuncias{

    padding-top: 15vh;
    font-weight: 700;
    font-size: 1.8em;
    color:black;
    letter-spacing: .1em;

}